@model IEnumerable<VisualizarUsuarioViewModel>

@{
    ViewData["Title"] = "Listar usuários";
}

<h1>@ViewData["Title"]</h1>

<hr />

<p>
    <a asp-action="Create">Adicionar</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNascimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sexo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Atualizar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Visualizar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>
