@model IEnumerable<FaixaViewModel>

@{
    ViewData["Title"] = $"Listar faixas do álbum {ViewData["Album"]}";
}

<h1>@ViewData["Title"]</h1>

<hr />

<p>
    <a asp-action="Index">Voltar</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ordem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duracao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ordem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Album)
                </td>
            </tr>
        }
    </tbody>
</table>
